<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://develop-test-deploy-azure-functions-with-visual-studio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6e9c05ca-63d5-4637-b276-21208efd07e1/resourceGroups/learn-fabd52b6-9759-4112-8fce-efdf727719d8/providers/Microsoft.Web/sites/develop-test-deploy-azure-functions-with-visual-studio</ResourceId>
    <UserName>$develop-test-deploy-azure-functions-with-visual-studio</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://develop-test-deploy-azure-functions-with-visual-studio.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>